.TestResults {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    padding: 20px;
    background: #FFD8E9;
    border-radius: 12px;

    .resultsTitle {
        color: #7A5267;
        font-weight: 500;
        font-size: 22px;
    }

    .resultsInfo {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-weight: 500;
        font-size: 18px;
        color: #1C1B1F;

        span {
            font-size: 16px;
            color: #47464F;
        }
    }

    .resultsMore {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .button {
            color: #7A5267;
            font-weight: 500;
            font-size: 14px;

            .text {
                margin-right: 5px;
            }
        }
    }
}

@media (max-width: 1400px) { 
    .TestResults{
        .resultsTitle{
            font-size: 20px;
        }
        .resultsInfo{
            font-size: 16px;
            span {
                font-size: 14px;
            }
        }
        .resultsMore{
            .button{
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 1200px) { 
    .TestResults{
        .resultsTitle{
            font-size: 18px;
        }
        .resultsInfo{
            font-size: 14px;
            span {
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 992px) { 
    .TestResults{
        .resultsTitle{
            font-size: 16px;
        }
        .resultsInfo{
            font-size: 13px;
            span {
                font-size: 10px;
            }
        }
    }
    .resultsMore{
        .button{
            font-size: 10px;
            .text{
                margin-right: 0px;
            }
        }
    }
}

@media (max-height: 850px) {
    .TestResults {
        padding: 10px;
        .resultsTitle {
            font-size: 18px;
        }
    
        .resultsInfo {
            font-size: 16px;
            span {
                font-size: 15px;
            }
        }
        .resultsMore {
            .button {
                font-size: 12px;
            }
        }
    }
}

@media (max-height: 750px) {
    .TestResults {
        .resultsTitle {
            font-size: 16px;
        }
    
        .resultsInfo {
            font-size: 14px;
            span {
                font-size: 13px;
            }
        }
        .resultsMore {
            .button {
                font-size: 10px;
            }
        }
    }
}