.PetsPage {
  background: #f4eff4;
  height: 590px;
}

@media (max-height: 850px) {
  .PetsPage {
    height: 505px;
  }
}

@media (max-height: 800px) {
  .PetsPage {
    height: 470px;
  }
}
@media (max-height: 750px) {
  .PetsPage {
    height: 380px;
  }
}