.NearestEntry {
    height: 100%;
    position: relative;
    background: #CEE5FF;
    border-radius: 12px;
    .paws {
        position: absolute;
        right: 10px;
        top: 0px
    }
    .entryContainer {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        .title {
            font-weight: 500;
            font-size: 22px;
            color: #00639B;
        }
        .entryInfo {
            display: flex;
            justify-content: flex-start;
            gap: 20%;
            .baseEntryInfoInner {
                display: flex;
                flex-direction: column;
                gap: 10px;
                font-weight: 500;
                font-size: 18px;
                color: #1C1B1F;
                span {
                    font-size: 16px;
                    color: #47464F;
                }
            }
            .entryTime, .entryProcedure {
               @extend .baseEntryInfoInner;
            }
        }
        .button {
            border: 1px solid #817f88;
            color: #00639B;
            display: block;
            width: 100%;
            font-weight: 500;
            font-size: 16px;
            border-radius: 12px;
        }
    }
}

@media (max-width: 1400px) { 
    .NearestEntry {
        .entryContainer {
            .title {
                font-size: 20px;
            }
            .entryInfo {
                .baseEntryInfoInner {
                    font-size: 16px;
                    span {
                        font-size: 14px;
                    }
                }
            }
            .button {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 1200px) { 
    .NearestEntry {
        .entryContainer {
            .title {
                font-size: 18px;
            }
            .entryInfo {
                .baseEntryInfoInner {
                    font-size: 14px;
                    span {
                        font-size: 12px;
                    }
                }
            }
            .button {
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 992px) { 
    .NearestEntry {
        .entryContainer {
            .title {
                font-size: 16px;
            }
            .entryInfo {
                .baseEntryInfoInner {
                    font-size: 13px;
                    span {
                        font-size: 10px;
                    }
                }
            }
            .button {
                font-size: 10px;
            }
        }
    }
}