.HeaderInfo {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 992px) { 
    .HeaderInfo {
        font-size: 12px;
        align-items: center;
    }
}

@media (max-height: 940px) {
    .HeaderInfo {
        font-size: 10px;
    }
}