.MedicalCardPet {
    background: #f4eff4;
    padding: 20px 0;
    margin: 0 auto;
    height: 600px;
    display: grid;
    grid-template: 42% 55% / 29% 68%;
    gap: 3%;
    
}

.back {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #5954A8;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    width: 60px;
}



@media (max-width: 1400px) {
    .back {
        font-size: 13px;
    }
}

@media (max-width: 1200px) {
    .back {
        font-size: 11px;
    }
}

@media (max-width: 992px) {
    .back {
        font-size: 10px;
    }
}

@media (max-height: 960px) {
    .MedicalCardPet {
        height: 570px;
    }
}

@media (max-height: 850px) {
    .MedicalCardPet {
        height: 490px;
    }
}

@media (max-height: 800px) {
    .MedicalCardPet {
        height: 475px;
    }
}

@media (max-height: 750px) {
    .MedicalCardPet {
        height: 380px;
    }
}