.Therapy {
    .title {
        color: #1C1B1F;
        font-weight: 500;
        font-size: 22px;
    }

    .diagnoses {
        margin-top: 24px;
        overflow: auto;
        height: 250px;
    }
}

@media (max-width: 1400px) {
    .Therapy {
        .title {
            font-size: 20px;
        }
        .diagnoses {
            height: 235px;
        }
    }
}
@media (max-width: 1200px) {
    .Therapy {
        .title {
            font-size: 18px;
        }
    }
}

@media (max-width: 992px) {
    .Therapy {
        .title {
            font-size: 16px;
        }
    }
}
@media (max-height: 850px) {
    .Therapy {
        .title {
            font-size: 18px;
        }
        .diagnoses {
            height: 200px;
        }
    }
}
@media (max-height: 750px) {
    .Therapy {
        .title {
            font-size: 18px;
        }
        .diagnoses {
            height: 72%;
        }
    }
}