.MainPage{
  background: #f4eff4;
  .gridContainer {
    margin: 42px auto 0;
    height: 518px;
    display: grid;
    grid-template: 48% 49% / 29% 68% ;
    gap: 3%;
    .infoSection{
      display: grid;
      grid-template-columns: 59% 38% ;
      gap: 3%;
    }
  }
  
}

