.Header {
    background: #fffbff;
    min-height: 150px;
    margin-bottom: 20px;
    .line {
        margin: 20px auto 0;
        width: 90%;
        height: 2px;
        background: #e5e1ec;
    }
}

.HeaderAuth{
    background: #f4eff4;
}

@media (max-width: 1200px) { 
    .Header {
        min-height: 139px;
        .line {
            margin: 8px auto 0;
        }
    }
}

@media (max-width: 992px) { 
    .Header {
        min-height: 132px;
    }
}

@media (max-height: 940px) { 
    .Header {
        min-height: 135px;
        margin-bottom: 20px;
        .line {
            margin: 13px auto 0;
            height: 1px;
        }
    }
}