.Visit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 16px;
    min-height: 74px;
    background: #FFFBFF;
    border-radius: 12px;
    margin-bottom: 10px;

    .leftPositionInfo {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        width: 50%;
        align-items: center;

        .logo {
            display: flex;
            flex-shrink: 0;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background: #ffd8e9;
            border-radius: 100px;
        }

        .text {
            .name {
                font-weight: 500;
                font-size: 18px;
                color: #1C1B1F;
            }

            .date {
                font-weight: 400;
                font-size: 16px;
                color: #47464F;
            }
        }
    }

    .rightPositionInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;

        .text {
            .result {
                font-weight: 500;
                font-size: 18px;
                color: #1C1B1F;
            }

            .procedure {
                font-weight: 400;
                font-size: 16px;
                color: #47464F;
            }
        }
    }

    &:hover {
        background: #e8e4f3;
        transition: all 0.5s;
    }
}

@media (max-width: 1400px) { 
    .Visit{
        min-height: 72px;
        margin-bottom: 19px;
        .leftPositionInfo{
            .text{
                .name{
                    font-size: 16px;
                }
                .date{
                    font-size: 14px;
                }
            }
        }
        .rightPositionInfo{
            .text{
                .result{
                    font-size: 16px;
                }
                .procedure{
                    font-size: 14px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .Visit{
        min-height: 73px;
        margin-bottom: 17px;
        .leftPositionInfo{
            .text{
                .name{
                    font-size: 14px;
                }
                .date{
                    font-size: 12px;
                }
            }
        }
        .rightPositionInfo{
            .text{
                .result{
                    font-size: 14px;
                }
                .procedure{
                    font-size: 12px;
                }
            }
        }
    }
}
@media (max-width: 992px) {
    .Visit{
        min-height: 79px;
        margin-bottom: 18px;
        .leftPositionInfo{
            .text{
                .name{
                    font-size: 13px;
                }
                .date{
                    font-size: 10px;
                }
            }
        }
        .rightPositionInfo{
            .text{
                .result{
                    font-size: 13px;
                }
                .procedure{
                    font-size: 10px;
                }
            }
        }
    }
}