.Footer {
    min-height: 180px;
    background: #e5e1ec;
    padding: 40px 0 30px;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: start;
        .logo {
            display: flex;
            gap: 10px;
            align-items: center;
            .logoText {
                font-weight: 500;
                font-size: 14px;
                color: #1C1364;
            }
        }
        .title {
            font-weight: 500;
            font-size: 16px;
            color: #00639B;
        }
        .text{
            font-weight: 400;
            font-size: 14px;
            color: #001D33;
            margin-top: 8px;
        }
    }
}

@media (max-width: 1200px) {
    .Footer {
        .wrapper {
            .logo {
                .logoText {
                    font-size: 13px;
                }
            }
            .title {
                font-size: 14px;
            }
            .text{
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 992px) {
    .Footer {
        .wrapper {
            .logo {
                .logoText {
                    font-size: 12px;
                }
            }
            .title {
                font-size: 13px;
            }
            .text{
                font-size: 10px;
            }
        }
    }
}