.FiltersTop {
    display: flex;
    justify-content: space-between;
    .main {
        display: flex;
        align-items: center;
        gap: 15px;
        .title {
            font-weight: 500;
            font-size: 22px;
            color: #1C1B1F;
        }
        .logo {
            display: block;
            width: 24px;
            height: 24px;
        }
    }
    .reset {
        cursor: pointer;
        font-weight: 500;
        font-size: 14px;
        color: #a29ea3;
    }
}

@media (max-width: 1400px) { 
    .FiltersTop {
        .main {
            .title {
                font-size: 20px;
            }
            .logo {
                width: 20px;
                height: 20px;
            }
        }
        .reset {
            font-size: 13px;
        }
    }
}

@media (max-width: 1200px) { 
    .FiltersTop {
        .main {
            .title {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 992) { 
    .FiltersTop {
        .main {
            .title {
                font-size: 16px;
            }
        }
    }
}