.FilterControls {
    display: flex;
    background: #ffffff;
    justify-content: space-around;
    gap: 10px;
    margin-top: 20px;
    padding: 16px;
    border-radius: 12px;
    align-items: center;
}