$MuiButtonActive: 'button[aria-selected="true"]';
$MuiIndicator: 'span[class*="MuiTabs-indicator"]';

.NavBar {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
    .pages {
        button{
            padding-bottom: 20px;
            text-transform: none;
            font-weight: bold;
            color: #47464F;
        }
        #{$MuiButtonActive}{
            color: rgba(89, 84, 168, 1);
        }
        #{$MuiIndicator}{
            background-color: rgba(89, 84, 168, 1);
        }
    }
    .button {
        height: 40px;
        background: #00639B;
        border-radius: 100px;
        text-transform: none;
    }
}

@media (max-width: 1200px) { 
    .NavBar {
        .pages {
            button{
                font-size: 13px;
            }
        }
        .button {
            font-size: 12px;
        }
    }
}

@media (max-width: 992px) { 
    .NavBar {
        margin-top: 11px;
        .pages {
            button{
                font-size: 12px;
            }
        }
        .button {
            font-size: 10px;
        }
    }
}