.Visit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 16px;
    min-height: 74px;
    background: #FFFBFF;
    border-radius: 12px;
    margin-bottom: 10px;

    .leftPositionInfo {
        display: flex;
        width: 50%;
        align-items: center;
        gap: 70px;

        .logo {
            display: flex;
            gap: 20px;
            align-items: center;

            .img {
                display: flex;
                flex-shrink: 0;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                background: #ffd8e9;
                border-radius: 100px;
            }
        }

        .text {
            .name {
                font-weight: 500;
                font-size: 18px;
                color: #1C1B1F;
            }

            .date {
                font-weight: 400;
                font-size: 16px;
                color: #47464F;
            }

            .procedure {
                font-weight: 500;
                font-size: 18px;
                color: #1C1B1F;
            }

            .doctor {
                font-weight: 400;
                font-size: 16px;
                color: #47464F;
            }
        }
    }

    .rightPositionInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;

        .state {
            color: #1C1B1F;
            font-weight: 500;
            font-size: 14px;
            .alert {
                font-size: 13px;
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }

    &:hover {
        background: #e8e4f3;
        transition: all 0.5s;
    }
}

@media (max-width: 1400px) {
    .Visit {
        min-height: 72px;
        .leftPositionInfo {
            .text {
                .name {
                    font-size: 16px;
                }

                .date {
                    font-size: 14px;
                }

                .procedure {
                    font-size: 16px;
                }

                .doctor {
                    font-size: 14px;
                }
            }
        }
        .rightPositionInfo {
            .state {
                .alert{
                    font-size: 12px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .Visit {
        .leftPositionInfo {
            .text {
                .name {
                    font-size: 14px;
                }

                .date {
                    font-size: 12px;
                }

                .procedure {
                    font-size: 14px;
                }

                .doctor {
                    font-size: 12px;
                }
            }
        }
        .rightPositionInfo {
            .state {
                .alert{
                    font-size: 13px;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .Visit {
        .leftPositionInfo {
            .text {
                .name {
                    font-size: 13px;
                }

                .date {
                    font-size: 10px;
                }

                .procedure {
                    font-size: 13px;
                }

                .doctor {
                    font-size: 10px;
                }
            }
        }
        .rightPositionInfo {
            .state {
                margin-left: 20px;
                .alert{
                    font-size: 12px;
                }
            }
        }
    }
}

@media (max-height: 850px) {
    .Visit {
        min-height: 60px;
        .leftPositionInfo {
            .logo{
                .img{
                    width: 35px;
                    height: 35px;
                }
            }
            .text {
                .name {
                    font-size: 16px;
                }

                .date {
                    font-size: 14px;
                }

                .procedure {
                    font-size: 16px;
                }

                .doctor {
                    font-size: 14px;
                }
            }
        }
        .rightPositionInfo {
            .state {
                .alert{
                    font-size: 12px;
                }
            }
        }
    }
}

@media (max-height: 750px) {
    .Visit {
        .leftPositionInfo {
            .text {
                .name {
                    font-size: 14px;
                }

                .date {
                    font-size: 12px;
                }

                .procedure {
                    font-size: 14px;
                }

                .doctor {
                    font-size: 12px;
                }
            }
        }
        .rightPositionInfo {
            .state {
                .alert{
                    font-size: 13px;
                }
            }
        }
    }
}